<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sequi alias pariatur, porro facere temporibus placeat eos illum perspiciatis facilis deserunt id, ex adipisci laboriosam iure. Quia sunt praesentium repellat?</p>
    </div>
</div>
