<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodesjs MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat exercitationem blanditiis aspernatur, perspiciatis neque cupiditate accusantium provident pariatur fuga cum ad. Officia maxime perferendis eum placeat temporibus, fugiat itaque asperiores.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, quasi placeat! Nesciunt itaque reiciendis obcaecati, error velit, similique numquam enim possimus, facere iusto quis accusamus dolorum pariatur ex voluptatem dignissimos.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>
